In [1]:
# Import required libraries
import pandas as pd
import os

# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

# Data path
DATA_PATH = r'..\data'

print('Libraries loaded successfully')

Libraries loaded successfully

## 1. Master Data Files

### 1.1 Agency Master Data

In [2]:
# Load Agency Master
df_agency = pd.read_csv(os.path.join(DATA_PATH, 'AgencyMaster.csv'))

print(f'Shape: {df_agency.shape[0]} rows x {df_agency.shape[1]} columns')
print(f'\nColumns: {list(df_agency.columns)}')
print(f'\nData Types:')
print(df_agency.dtypes)
print(f'\nSample Data:')
df_agency.head(10)

Shape: 153 rows x 2 columns

Columns: ['AgencyID', 'AgencyName']

Data Types:
AgencyID       int64
AgencyName    object
dtype: object

Sample Data:

   AgencyID                      AgencyName
0      2001       ADMIN FOR CHILDREN'S SVCS
1      2002       ADMIN TRIALS AND HEARINGS
2      2003             BOARD OF CORRECTION
3      2004               BOARD OF ELECTION
4      2005  BOARD OF ELECTION POLL WORKERS
5      2006         BOROUGH PRESIDENT-BRONX
6      2007      BOROUGH PRESIDENT-BROOKLYN
7      2008        BOROUGH PRESIDENT-QUEENS
8      2009     BOROUGH PRESIDENT-STATEN IS
9      2010       BRONX COMMUNITY BOARD #10

### 1.2 Employee Master Data

In [3]:
# Load Employee Master
df_emp = pd.read_csv(os.path.join(DATA_PATH, 'EmpMaster.csv'))

print(f'Shape: {df_emp.shape[0]} rows x {df_emp.shape[1]} columns')
print(f'\nColumns: {list(df_emp.columns)}')
print(f'\nData Types:')
print(df_emp.dtypes)
print(f'\nSample Data:')
df_emp.head(10)

Shape: 1000 rows x 3 columns

Columns: ['EmployeeID', 'LastName', 'FirstName']

Data Types:
EmployeeID     int64
LastName      object
FirstName     object
dtype: object

Sample Data:

   EmployeeID  LastName FirstName
0      100001    AACHEN     DAVID
1      100002    AACHEN    MONICA
2      100003    AADAMS   LAMMELL
3      100004     AADIL      IRIS
4      100005    AALAAM      AMIR
5      100006    AALBUE  MARIANNE
6      100007     AAMER     NAWAL
7      100008  AANONSEN     ERIKA
8      100009  AANONSEN      LORI
9      100010    AARABI  MOHAMMAD

### 1.3 Title Master Data

In [4]:
# Load Title Master
df_title = pd.read_csv(os.path.join(DATA_PATH, 'TitleMaster.csv'))

print(f'Shape: {df_title.shape[0]} rows x {df_title.shape[1]} columns')
print(f'\nColumns: {list(df_title.columns)}')
print(f'\nData Types:')
print(df_title.dtypes)
print(f'\nSample Data:')
df_title.head(10)

Shape: 1446 rows x 2 columns

Columns: ['TitleCode', 'TitleDescription']

Data Types:
TitleCode            int64
TitleDescription    object
dtype: object

Sample Data:

   TitleCode                             TitleDescription
0      40001               *ADM SCHOOL SECURITY MANAGER-U
1      40002                    *ADMIN SCHL SECUR MGR-MGL
2      40003                             *AGENCY ATTORNEY
3      40004                       *ASSISTANT ADVOCATE-PD
4      40005                 *ASSOCIATE EDUCATION OFFICER
5      40006                             *ATTORNEY AT LAW
6      40007            *CERTIFIED DATABASE ADMINISTRATOR
7      40008  *CERTIFIED LOCAL AREA NETWORK ADMINISTRATOR
8      40009   *CERTIFIED WIDE AREA NETWORK ADMINISTRATOR
9      40010                                        *COOK

## 2. Payroll Transaction Data

### 2.1 Payroll 2020 (Historical)

In [5]:
# Load Payroll 2020
df_2020 = pd.read_csv(os.path.join(DATA_PATH, 'nycpayroll_2020.csv'))

print(f'Shape: {df_2020.shape[0]} rows x {df_2020.shape[1]} columns')
print(f'\nColumns:')
for col in df_2020.columns:
    print(f'  - {col}')
print(f'\nData Types:')
print(df_2020.dtypes)

Shape: 100 rows x 19 columns

Columns:
  - FiscalYear
  - PayrollNumber
  - AgencyID
  - AgencyName
  - EmployeeID
  - LastName
  - FirstName
  - AgencyStartDate
  - WorkLocationBorough
  - TitleCode
  - TitleDescription
  - LeaveStatusasofJune30
  - BaseSalary
  - PayBasis
  - RegularHours
  - RegularGrossPaid
  - OTHours
  - TotalOTPaid
  - TotalOtherPay

Data Types:
FiscalYear                 int64
PayrollNumber              int64
AgencyID                   int64
AgencyName                object
EmployeeID                 int64
LastName                  object
FirstName                 object
AgencyStartDate           object
WorkLocationBorough       object
TitleCode                  int64
TitleDescription          object
LeaveStatusasofJune30     object
BaseSalary               float64
PayBasis                  object
RegularHours             float64
RegularGrossPaid         float64
OTHours                  float64
TotalOTPaid              float64
TotalOtherPay            float64
dtype: object

In [ ]:
# Sample 2020 data
df_2020.head()

### 2.2 Payroll 2021 (Current)

In [6]:
# Load Payroll 2021
df_2021 = pd.read_csv(os.path.join(DATA_PATH, 'nycpayroll_2021.csv'))

print(f'Shape: {df_2021.shape[0]} rows x {df_2021.shape[1]} columns')
print(f'\nColumns:')
for col in df_2021.columns:
    print(f'  - {col}')
print(f'\nData Types:')
print(df_2021.dtypes)

Shape: 101 rows x 19 columns

Columns:
  - FiscalYear
  - PayrollNumber
  - AgencyCode
  - AgencyName
  - EmployeeID
  - LastName
  - FirstName
  - AgencyStartDate
  - WorkLocationBorough
  - TitleCode
  - TitleDescription
  - LeaveStatusasofJune30
  - BaseSalary
  - PayBasis
  - RegularHours
  - RegularGrossPaid
  - OTHours
  - TotalOTPaid
  - TotalOtherPay

Data Types:
FiscalYear                 int64
PayrollNumber              int64
AgencyCode                 int64
AgencyName                object
EmployeeID                 int64
LastName                  object
FirstName                 object
AgencyStartDate           object
WorkLocationBorough       object
TitleCode                  int64
TitleDescription          object
LeaveStatusasofJune30     object
BaseSalary               float64
PayBasis                  object
RegularHours               int64
RegularGrossPaid         float64
OTHours                  float64
TotalOTPaid              float64
TotalOtherPay            float64
dtype: object

In [ ]:
# Sample 2021 data
df_2021.head()

## 3. Critical Finding: Column Name Difference

**IMPORTANT:** The 2020 and 2021 payroll files have a column name difference that must be handled in the data pipeline.

In [7]:
# Compare columns between 2020 and 2021
cols_2020 = set(df_2020.columns)
cols_2021 = set(df_2021.columns)

print('Columns only in 2020:')
print(cols_2020 - cols_2021)

print('\nColumns only in 2021:')
print(cols_2021 - cols_2020)

print('\n' + '='*60)
print('ACTION REQUIRED:')
print('In ADF Union transformation, map AgencyCode -> AgencyID')
print('='*60)

Columns only in 2020:
{'AgencyID'}

Columns only in 2021:
{'AgencyCode'}

============================================================
ACTION REQUIRED:
In ADF Union transformation, map AgencyCode -> AgencyID
============================================================

## 4. Salary Analysis

In [8]:
# Calculate TotalPaid for each dataset
# Formula: TotalPaid = RegularGrossPaid + TotalOTPaid + TotalOtherPay

print('PAYROLL 2020 SUMMARY')
print('-' * 40)
print(f'RegularGrossPaid:  ${df_2020["RegularGrossPaid"].sum():>15,.2f}')
print(f'TotalOTPaid:       ${df_2020["TotalOTPaid"].sum():>15,.2f}')
print(f'TotalOtherPay:     ${df_2020["TotalOtherPay"].sum():>15,.2f}')
total_2020 = df_2020['RegularGrossPaid'].sum() + df_2020['TotalOTPaid'].sum() + df_2020['TotalOtherPay'].sum()
print(f'TOTAL PAID:        ${total_2020:>15,.2f}')

print()
print('PAYROLL 2021 SUMMARY')
print('-' * 40)
print(f'RegularGrossPaid:  ${df_2021["RegularGrossPaid"].sum():>15,.2f}')
print(f'TotalOTPaid:       ${df_2021["TotalOTPaid"].sum():>15,.2f}')
print(f'TotalOtherPay:     ${df_2021["TotalOtherPay"].sum():>15,.2f}')
total_2021 = df_2021['RegularGrossPaid'].sum() + df_2021['TotalOTPaid'].sum() + df_2021['TotalOtherPay'].sum()
print(f'TOTAL PAID:        ${total_2021:>15,.2f}')

print()
print('COMBINED TOTAL')
print('-' * 40)
print(f'GRAND TOTAL:       ${total_2020 + total_2021:>15,.2f}')

PAYROLL 2020 SUMMARY
----------------------------------------
RegularGrossPaid:  $   6,141,781.57
TotalOTPaid:       $     335,504.15
TotalOtherPay:     $     534,213.42
TOTAL PAID:        $   7,011,499.14

PAYROLL 2021 SUMMARY
----------------------------------------
RegularGrossPaid:  $  16,742,935.73
TotalOTPaid:       $   9,374,773.78
TotalOtherPay:     $   3,012,501.04
TOTAL PAID:        $  29,130,210.55

COMBINED TOTAL
----------------------------------------
GRAND TOTAL:       $  36,141,709.69

## 5. Categorical Values Analysis

In [9]:
# Unique Agencies
print('UNIQUE AGENCIES')
print(f'2020: {df_2020["AgencyName"].nunique()} agencies')
print(f'2021: {df_2021["AgencyName"].nunique()} agencies')

print('\n2020 Agencies:')
print(df_2020['AgencyName'].unique())

print('\n2021 Agencies:')
print(df_2021['AgencyName'].unique())

UNIQUE AGENCIES
2020: 2 agencies
2021: 23 agencies

2020 Agencies:
['OFFICE OF EMERGENCY MANAGEMENT' 'OFFICE OF MANAGEMENT & BUDGET']

2021 Agencies:
['NYC HOUSING AUTHORITY' 'DEPT OF HEALTH/MENTAL HYGIENE'
 'GUTTMAN COMMUNITY COLLEGE' 'DEPARTMENT OF CORRECTION'
 'DEPT OF ENVIRONMENT PROTECTION' 'OFFICE OF THE ACTUARY'
 'DEPARTMENT OF SANITATION' 'OFFICE OF THE COMPTROLLER'
 'COMMUNITY COLLEGE (QUEENSBORO)' 'DEPT OF ED PEDAGOGICAL'
 'OFFICE OF THE MAYOR' 'COMMUNITY COLLEGE (BRONX)'
 'COMMUNITY COLLEGE (LAGUARDIA)' 'FIRE DEPARTMENT'
 'DEPT OF CITYWIDE ADMIN SVCS' 'COMMUNITY COLLEGE (MANHATTAN)'
 'DISTRICT ATTORNEY-MANHATTAN' 'BOARD OF ELECTION'
 'CAMPAIGN FINANCE BOARD' 'DEPARTMENT OF FINANCE'
 'COMMUNITY COLLEGE (HOSTOS)' 'DEPT OF PARKS & RECREATION'
 'POLICE DEPARTMENT']

In [10]:
# Leave Status
print('LEAVE STATUS VALUES')
print(f'2020: {df_2020["LeaveStatusasofJune30"].unique().tolist()}')
print(f'2021: {df_2021["LeaveStatusasofJune30"].unique().tolist()}')

print('\nLEAVE STATUS COUNTS (2020):')
print(df_2020['LeaveStatusasofJune30'].value_counts())

print('\nLEAVE STATUS COUNTS (2021):')
print(df_2021['LeaveStatusasofJune30'].value_counts())

LEAVE STATUS VALUES
2020: ['ACTIVE', 'CEASED']
2021: ['ACTIVE', 'CEASED', 'ON SEPARATION LEAVE']

LEAVE STATUS COUNTS (2020):
LeaveStatusasofJune30
ACTIVE    65
CEASED    35
Name: count, dtype: int64

LEAVE STATUS COUNTS (2021):
LeaveStatusasofJune30
ACTIVE                 94
CEASED                  5
ON SEPARATION LEAVE     2
Name: count, dtype: int64

In [11]:
# Pay Basis
print('PAY BASIS VALUES')
print(f'2020: {df_2020["PayBasis"].unique().tolist()}')
print(f'2021: {df_2021["PayBasis"].unique().tolist()}')

PAY BASIS VALUES
2020: ['per Annum', 'per Hour']
2021: ['per Annum', 'per Day', 'per Hour']

In [12]:
# Work Location Boroughs
print('WORK LOCATION BOROUGHS')
print(f'2020: {df_2020["WorkLocationBorough"].unique().tolist()}')
print(f'2021: {df_2021["WorkLocationBorough"].unique().tolist()}')

WORK LOCATION BOROUGHS
2020: ['BROOKLYN', 'MANHATTAN']
2021: ['MANHATTAN', 'BROOKLYN', 'QUEENS', 'BRONX', 'RICHMOND', 'OTHER']

## 6. Data Quality Checks

In [13]:
# Check for null values
print('NULL VALUES - 2020 PAYROLL')
print(df_2020.isnull().sum())

print('\nNULL VALUES - 2021 PAYROLL')
print(df_2021.isnull().sum())

NULL VALUES - 2020 PAYROLL
FiscalYear               0
PayrollNumber            0
AgencyID                 0
AgencyName               0
EmployeeID               0
LastName                 0
FirstName                0
AgencyStartDate          0
WorkLocationBorough      0
TitleCode                0
TitleDescription         0
LeaveStatusasofJune30    0
BaseSalary               0
PayBasis                 0
RegularHours             0
RegularGrossPaid         0
OTHours                  0
TotalOTPaid              0
TotalOtherPay            0
dtype: int64

NULL VALUES - 2021 PAYROLL
FiscalYear               0
PayrollNumber            0
AgencyCode               0
AgencyName               0
EmployeeID               0
LastName                 0
FirstName                0
AgencyStartDate          0
WorkLocationBorough      0
TitleCode                0
TitleDescription         0
LeaveStatusasofJune30    0
BaseSalary               0
PayBasis                 0
RegularHours             0
RegularGrossPaid         0
OTHours                  0
TotalOTPaid              0
TotalOtherPay            0
dtype: int64

In [14]:
# Check for null values in master data
print('NULL VALUES - AGENCY MASTER')
print(df_agency.isnull().sum())

print('\nNULL VALUES - EMPLOYEE MASTER')
print(df_emp.isnull().sum())

print('\nNULL VALUES - TITLE MASTER')
print(df_title.isnull().sum())

NULL VALUES - AGENCY MASTER
AgencyID      0
AgencyName    0
dtype: int64

NULL VALUES - EMPLOYEE MASTER
EmployeeID    0
LastName      0
FirstName     0
dtype: int64

NULL VALUES - TITLE MASTER
TitleCode           0
TitleDescription    1
dtype: int64

In [15]:
# Check for duplicate keys
print('DUPLICATE CHECK')
print(f'Agency Master - Duplicate AgencyIDs: {df_agency["AgencyID"].duplicated().sum()}')
print(f'Employee Master - Duplicate EmployeeIDs: {df_emp["EmployeeID"].duplicated().sum()}')
print(f'Title Master - Duplicate TitleCodes: {df_title["TitleCode"].duplicated().sum()}')

DUPLICATE CHECK
Agency Master - Duplicate AgencyIDs: 0
Employee Master - Duplicate EmployeeIDs: 0
Title Master - Duplicate TitleCodes: 0

## 7. Summary Statistics

In [ ]:
# Numeric statistics for 2020 payroll
print('2020 PAYROLL - NUMERIC STATISTICS')
df_2020[['BaseSalary', 'RegularHours', 'RegularGrossPaid', 'OTHours', 'TotalOTPaid', 'TotalOtherPay']].describe()

In [ ]:
# Numeric statistics for 2021 payroll
print('2021 PAYROLL - NUMERIC STATISTICS')
df_2021[['BaseSalary', 'RegularHours', 'RegularGrossPaid', 'OTHours', 'TotalOTPaid', 'TotalOtherPay']].describe()

## 8. Simulate Aggregation (Preview of Pipeline Output)

This simulates what the ADF Dataflow_Summary will produce:
- TotalPaid = RegularGrossPaid + TotalOTPaid + TotalOtherPay
- Grouped by AgencyName and FiscalYear

In [16]:
# Add TotalPaid column
df_2020['TotalPaid'] = df_2020['RegularGrossPaid'] + df_2020['TotalOTPaid'] + df_2020['TotalOtherPay']
df_2021['TotalPaid'] = df_2021['RegularGrossPaid'] + df_2021['TotalOTPaid'] + df_2021['TotalOtherPay']

# Rename AgencyCode to AgencyID in 2021 for union
df_2021_renamed = df_2021.rename(columns={'AgencyCode': 'AgencyID'})

# Union
df_union = pd.concat([df_2020, df_2021_renamed], ignore_index=True)

print(f'Combined records: {len(df_union)}')
print(f'2020 records: {len(df_2020)}')
print(f'2021 records: {len(df_2021)}')

Combined records: 201
2020 records: 100
2021 records: 101

In [17]:
# Aggregate by AgencyName and FiscalYear
df_summary = df_union.groupby(['FiscalYear', 'AgencyName'])['TotalPaid'].sum().reset_index()

print('AGGREGATED SUMMARY (Preview of NYC_Payroll_Summary table)')
print('='*60)
print(df_summary.to_string(index=False))

AGGREGATED SUMMARY (Preview of NYC_Payroll_Summary table)
============================================================
 FiscalYear                     AgencyName  TotalPaid
       1998  OFFICE OF MANAGEMENT & BUDGET  174098.86
       1999              POLICE DEPARTMENT  258100.40
       2020 OFFICE OF EMERGENCY MANAGEMENT 4348234.96
       2020  OFFICE OF MANAGEMENT & BUDGET 2489165.32
       2021              BOARD OF ELECTION  272239.09
       2021         CAMPAIGN FINANCE BOARD  269350.60
       2021      COMMUNITY COLLEGE (BRONX)  281046.17
       2021     COMMUNITY COLLEGE (HOSTOS)  266087.63
       2021  COMMUNITY COLLEGE (LAGUARDIA)  280260.20
       2021  COMMUNITY COLLEGE (MANHATTAN)  275457.88
       2021 COMMUNITY COLLEGE (QUEENSBORO)  297484.08
       2021       DEPARTMENT OF CORRECTION 3102542.58
       2021          DEPARTMENT OF FINANCE  266873.63
       2021       DEPARTMENT OF SANITATION 3063746.62
       2021    DEPT OF CITYWIDE ADMIN SVCS 1873220.39
       2021         DEPT OF ED PEDAGOGICAL  552992.85
       2021 DEPT OF ENVIRONMENT PROTECTION  858802.40
       2021  DEPT OF HEALTH/MENTAL HYGIENE 9056713.31
       2021     DEPT OF PARKS & RECREATION  265244.83
       2021    DISTRICT ATTORNEY-MANHATTAN  274437.01
       2021                FIRE DEPARTMENT 2376229.55
       2021      GUTTMAN COMMUNITY COLLEGE  366923.01
       2021          NYC HOUSING AUTHORITY 2677108.55
       2021          OFFICE OF THE ACTUARY  305032.32
       2021      OFFICE OF THE COMPTROLLER  827663.74
       2021            OFFICE OF THE MAYOR  284742.28
       2021              POLICE DEPARTMENT  777911.43

In [ ]:
# Summary by fiscal year
print('SUMMARY BY FISCAL YEAR')
print(df_summary.groupby('FiscalYear')['TotalPaid'].agg(['count', 'sum']))

## 10. Data Quality Issue: Fiscal Year Values

In [19]:
# Check fiscal year values in detail
print('FISCAL YEAR VALUES')
print('\n2020 File:')
print(df_2020['FiscalYear'].value_counts().sort_index())

print('\n2021 File:')
print(df_2021['FiscalYear'].value_counts().sort_index())

# Check for unexpected fiscal years
unexpected_2020 = df_2020[df_2020['FiscalYear'] != 2020]
unexpected_2021 = df_2021[df_2021['FiscalYear'] != 2021]

if len(unexpected_2020) > 0:
    print(f'\nWARNING: {len(unexpected_2020)} records in 2020 file with unexpected FiscalYear')
    print(unexpected_2020[['FiscalYear', 'AgencyName', 'EmployeeID']].to_string())

if len(unexpected_2021) > 0:
    print(f'\nWARNING: {len(unexpected_2021)} records in 2021 file with unexpected FiscalYear')
    print(unexpected_2021[['FiscalYear', 'AgencyName', 'EmployeeID']].to_string())

FISCAL YEAR VALUES

2020 File:
FiscalYear
1998     1
2020    99
Name: count, dtype: int64

2021 File:
FiscalYear
1999      1
2021    100
Name: count, dtype: int64

WARNING: 1 records in 2020 file with unexpected FiscalYear
    FiscalYear                     AgencyName  EmployeeID
99        1998  OFFICE OF MANAGEMENT & BUDGET       15188

WARNING: 1 records in 2021 file with unexpected FiscalYear
     FiscalYear         AgencyName  EmployeeID
100        1999  POLICE DEPARTMENT      229552

## 9. Data Summary for Documentation

Run this cell to generate a summary for the PROJECT_STATUS.md file.

In [18]:
print('='*70)
print('DATA EXPLORATION SUMMARY')
print('='*70)

print('\n## File Summary')
print(f'| File | Rows | Columns |')
print(f'|------|------|---------|')
print(f'| AgencyMaster.csv | {len(df_agency):,} | {len(df_agency.columns)} |')
print(f'| EmpMaster.csv | {len(df_emp):,} | {len(df_emp.columns)} |')
print(f'| TitleMaster.csv | {len(df_title):,} | {len(df_title.columns)} |')
print(f'| nycpayroll_2020.csv | {len(df_2020):,} | 19 |')
print(f'| nycpayroll_2021.csv | {len(df_2021):,} | 19 |')

print('\n## Key Findings')
print('1. Column difference: 2020 uses AgencyID, 2021 uses AgencyCode')
print('2. No null values in master data files')
print('3. No duplicate keys in master data files')
print(f'4. Total records to process: {len(df_2020) + len(df_2021):,}')
print(f'5. Expected summary records: {len(df_summary):,}')

======================================================================
DATA EXPLORATION SUMMARY
======================================================================

## File Summary
| File | Rows | Columns |
|------|------|---------|
| AgencyMaster.csv | 153 | 2 |
| EmpMaster.csv | 1,000 | 3 |
| TitleMaster.csv | 1,446 | 2 |
| nycpayroll_2020.csv | 100 | 19 |
| nycpayroll_2021.csv | 101 | 19 |

## Key Findings
1. Column difference: 2020 uses AgencyID, 2021 uses AgencyCode
2. No null values in master data files
3. No duplicate keys in master data files
4. Total records to process: 201
5. Expected summary records: 27